{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class="row">
    <aside class="col-12 col-md-3 container py-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y"}}
        </li>
        {% if post.category %}
          <li class="list-group-item">Категория:
            <a href="{% url 'posts:category' post.category.slug %}">
             {{ post.category }}
            </a>
          </li>
          {% endif %}
          <li class="list-group-item">
            Автор:<a href="{% url 'posts:profile' post.author.username %}">
                   {{ post.author.get_full_name }}
                  </a>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: {{ count }}
          </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile_posts' user %}">
            все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9 pe-2">
      <div class="container py-5">
        <p class="h2">{{ post.title }}</p>
        {% if request.user == post.author %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {% if not post.is_published %}
              <a class="btn btn-outline-success me-md-2" href="{% url 'posts:post_public' post.pk %}">Опубликовать</a>
            {% endif %}
            <a class="btn btn-outline-primary me-md-2" href="{% url 'posts:post_update' post.pk %}">Изменить</a>
            <a class="btn btn-outline-danger" href="{% url 'posts:post_delete' post.pk %}">Удалить</a>
          </div>
        {% endif %}
        <div>
          {% thumbnail post.photo "1920x1080" crop="center" upscale=True as im %}
            <a href="{{ post.get_absolute_url }}"><img class="card-img my-2" src="{{ im.url }}"></a>
          {% endthumbnail %}
        </div>
        <p>{{ post.text|safe }}</p>
      </div>
    </article>
  </div>
{% endblock %}
