.nav-link{
    color: whitesmoke;
}
.nav-link:focus, .nav-link:hover{
    color:crimson;
}
.nav-pills .nav-link.active{
    background-color: red ;
}
html, body{
    height: 100%;
    width: auto;
}
a[type="button"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}