{% load static %}
{% with request.resolver_match.view_name as view_name %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: lightskyblue">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Out</span>door
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'posts:index' %}active{% endif %}"
              href="{% url 'posts:index' %}">Путевой журнал</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:author' %}active{% endif %}"
              href="{% url 'about:author' %}">Маршруты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:tech' %}active{% endif %}"
              href="{% url 'about:tech' %}">Видео</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:create' %}active{% endif %}"
                href="{% url 'posts:post_create' %}">Новая запись</a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:create' %}active{% endif %}"
                href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
            {% with request.resolver_match.url_name as url_name  %}
            <li class="nav-item pe-1 dropdown">
              <a class="nav-link {% if url_name in 'profile,post_draft' %}active{% endif %} dropdown-toggle"  data-bs-display="static" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ user.username }}</a>
              <ul class="dropdown-menu dropdown-menu-end" data-bs-display="static" >
                <li><a class="dropdown-item {% if url_name == 'profile' %}active{% endif %}" href="{% url 'posts:profile' user %}">Профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
                <li><a class="dropdown-item" href="#">Избранное</a></li>
                <li><a class="dropdown-item {% if url_name == 'post_draft' %}active{% endif %}" href="{% url 'posts:post_draft' %}">Черновик</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
              </ul>
            </li>
            {% endwith %}
            {% else %}
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name == 'users:login' %}active{% endif %}"
                href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name == 'users:signup' %}active{% endif %}"
                href="{% url 'users:signup' %}">Регистрация</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endwith %}
